<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://kfumhqqowleugtlxjfff.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmdW1ocXFvd2xldWd0bHhqZmZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyNzc0NDAsImV4cCI6MjA3Nzg1MzQ0MH0.MuATkhSo2Wk31wvzWWKpAoYd2yGc4YRVwhbiKYsWR_4</string>
</dict>
</plist>
